article {
    background-color: #f4f4f4;
    border: 1px dashed #333;
    margin-bottom: 5px;
}

main, footer {
    width: 50%;
    margin: 0 auto;
}

h1 {
    text-align: center;
}

aside {
    padding: 0%;
    width: 200px;
}

.ads-wrapper {
    padding-left: 5px;
    background-color: #f4f4f4;
    border: 1px dashed #333;
    float: right;
    margin-right: calc(25% - 210px);
}

.contents-wrapper {
    float: left;
    margin-left: calc(25% - 210px);
}

@media (max-width: 830px) {
    .contents-wrapper, .ads-wrapper {
        float: none;
        margin: 0 auto;
        width: 100%;
    }
    main, footer {
        width: 100%;
    }
}